.contacts {
  text-align: center;
}

.contacts__container {
  margin: 1rem auto;
  max-width: 17rem;
  text-align: left;
}

.contacts__icon {
  background-color: $blue-dark;
  border-radius: 50%;
  color: $white;
  height: 2rem;
  line-height: 2rem;
  margin-right: .5rem;
  text-align: center;
  width: 2rem;
}

.contacts__link {
  line-height: 2rem;
}

.contacts__github {
  color: $grey-dark;
  font-size: 3rem;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $grey;
  }
}