.contacts {
  text-align: center;
}

.contacts__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr;
  margin: 0 auto 2rem;
  max-width: 15rem;
  text-align: left;
}

.contacts__icon {
  background-color: $blue-dark;
  border-radius: 50%;
  color: $white;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
}

.contacts__link {
  line-height: 2rem;
}

.contacts__github {
  color: $grey-dark;
  font-size: 3rem;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $grey;
  }
}