nav {
  background: $blue-dark;
  bottom: 0;
  box-shadow: 0 0 10px 0 $grey;
  display: table;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  @media (min-width: $breakpoint-xs) {
    background: linear-gradient(20deg, rgba(250, 250, 250, 0) 0%, $white 95%, $white 100%);
    box-shadow: none;
    top: 0;
    text-align: right;
  }
}

.nav-link {
  color: $white;
  display: table-cell;
  font-size: .7rem;
  letter-spacing: 1px;
  padding: .5rem;
  text-decoration: none;
  vertical-align: middle;
  width: 20%;

  @media (min-width: $breakpoint-xs) {
    color: $text-color;
    display: inline-block;
    font: {
      size: 1rem;
      weight: 500;
    }
    padding: 1rem;
    width: auto;
  }
}

.nav-link__icon {
  display: block;
  font-size: 1rem;
  margin-bottom: .2rem;

  @media (min-width: $breakpoint-xs) {
    display: none;
  }
}

.nav-link--cloud {
  @media (min-width: $breakpoint-xs) {
    .nav-link__icon {
      display: block;
    }

    .nav-link__text {
      display: none;
    }
  }
}