.nav {
  background: $blue-dark;
  bottom: 0;
  box-shadow: 0 0 10px 0 $grey;
  box-sizing: border-box;
  display: table;
  position: fixed;
  table-layout: fixed;
  text-align: center;
  transition: 300ms ease-in {
    property: background-color, box-shadow;
  }
  width: 100%;
  z-index: 1;

  @media (min-width: $breakpoint-xs) {
    background: none;
    box-shadow: none;
    padding: 0 1rem;
    top: 0;
    text-align: right;
  }
}

.nav.nav--scrolled {
  @media (min-width: $breakpoint-xs) {
    background: $blue;
    box-shadow: 0 0 10px 0 $blue;
  }
}