.workplace {
  background-color: lighten($white, 1%);
  border: 1px solid $grey {
    radius: 5px;
  }
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  transition: 200ms ease-in-out {
    property: border-color, box-shadow, margin;
  }

  &:not(.workplace--new):hover {
    border-color: $grey-dark;
    box-shadow: 0 3px 5px 0 $grey-dark;
    margin: -0.2rem 0 .2rem;
  }

  &.workplace--new {
    border: 2px dashed $grey-dark;
  }
}

.workplace__title {
  display: inline-block;
  margin-right: .5rem;
}

.workplace__time {
  display: inline-block;
  opacity: .8;
}

.workplace__icons {
  margin-top: auto;
}