$box-color: lighten($background-color, .7%);

.box {
  background-color: $box-color;
  border: 1px solid $grey-light;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;
  transition: 200ms ease-in-out {
    property: border-color, box-shadow, margin;
  }

  @supports (display: grid) {
    margin-bottom: 0;
  }

  &:not(.box--new):hover {
    border-color: $grey;
    box-shadow: 0 3px 5px 0 $grey;

    @supports (display: grid) {
      margin: -0.2rem 0 .2rem;
    }
  }
}

.box.box--new {
  border: 2px dashed $grey;
}

.box.box--with-icon {
  margin-top: 1rem;
  padding: 2rem;

  &:hover {
    margin-top: 0.8rem;
  }
}

.box__icon {
  background: $background-color;
  background: linear-gradient(0deg, $box-color 50%, $background-color 50%);
  color: $grey-dark;
  font-size: 2.5rem;
  left: 50%;
  padding: 0 1rem;
  position: absolute;
  top: -1.25rem;
  transform: translateX(-50%);
  transition: color 200ms ease-in-out;

  .box:hover & {
    color: darken($grey-dark, 15%);
  }

  .box:hover &.box__icon--blue {
    color: $blue-dark;
  }

  .box:hover &.box__icon--red {
    color: $red;
  }

  .box:hover &.box__icon--yellow {
    color: $yellow;
  }
}

.box__title {
  display: inline-block;
  margin-right: .5rem;
}

.box__time {
  display: inline-block;
  opacity: .7;
}

.box__footer {
  margin-top: auto;
}