.education {
  text-align: center;

  &:not(:last-of-type):after {
    border-left: 1px dashed $grey;
    content: '';
    display: block;
    height: 3rem;
    margin: 1rem auto 2rem;
    width: 0;
  }

  p:last-of-type {
    margin: 0;
  }
}

.education__time {
  margin-top: -1rem;
  opacity: .7;
}