.nav-link {
  color: $white;
  display: table-cell;
  font-size: .7rem;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 200ms ease-in-out {
    property: background-color, border-bottom-color;
  }
  vertical-align: middle;

  @media (min-width: $breakpoint-xs) {
    border-bottom: 2px solid transparent;
    color: $text-color;
    display: inline-block;
    font: {
      size: .9rem;
      weight: bold;
    }
    padding: 1rem;
    text-transform: uppercase;
  }

  &:hover {
    background-color: lighten($blue-dark, 10%);

    @media (min-width: $breakpoint-xs) {
      background: none;
      border-bottom-color: $text-color;
    }
  }
}

.nav-link__icon {
  display: block;
  font-size: 1rem;
  margin-bottom: .2rem;

  @media (min-width: $breakpoint-xs) {
    display: none;
  }
}

.nav-link.nav-link--cloud {
  @media (min-width: $breakpoint-xs) {
    .nav-link__icon {
      display: block;
    }

    .nav-link__text {
      display: none;
    }
  }
}

.nav-link.nav-link--language {
  border-left: 1px solid darken($blue-dark, 15%);
  padding: 0;

  @media (min-width: $breakpoint-xs) {
    border-left: 0;
  }
}

.nav-link__button {
  background: none;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-xs) {
    color: $text-color;
    font: {
      size: .9rem;
      weight: bold;
    }
    padding: 1.1rem 1rem;

    &:before {
      border-left: 1px solid $text-color;
      content: '';
      height: 1rem;
      position: absolute;
      left: 0;
    }
  }
}