$black: #11171a;
$blue-light: #b3e5fc;
$blue: #81d4fa;
$blue-dark: #303f9f;
$grey-light: #e0e0e0;
$grey: #bdbdbd;
$grey-dark: #9e9e9e;
$red: #e53935;
$white: #fafafa;
$yellow: #fbc02d;

$background-color: $white;
$text-color: $black;
$breakpoint-xs: 576px;